In [8]:
import numpy as np 
import pandas as pd

In [14]:
df = pd.read_csv('../data/measuredAngles.csv')
df.head(11)

   Blade No.  Measured Angles
0          1         1.780078
1          2         1.909625
2          3         1.714951
3          4         1.797712
4          5         1.750724
5          6         2.028946
6          7         1.882012
7          8         1.710417
8          9         2.008980